.bg-user {
    background-image: url(../images/bg-coffee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.user-profile {
    margin-top: 15vh;
}

.left-side-profile {
    flex: 0.3;
    height: 100vh;
    border-right: none;
}

.right-side-profile {
    flex: 0.7;
    height: 100vh;
}